layoutUpDown
  .topArea(slot="up")
    .sepWrap
      .aLink(
        v-for="(vv1, index1) in navList"
        @click="changePath(vv1)"
        :path="vv1.url"
        :key="index1") {{vv1.name}}/
      span {{endOne.name}}/
      span.refreshBtn(@click="getDir()") 刷新
    .btns
      .btn(@click="doSave()") 保存
      input.sepInput(v-model="allSep" placeholder="分隔符" @input="renameAll()")
      span.tip 可以用 shift 批量选择/取消
  .fileList.tinyScrollbarStyle(slot="middle")
    .head
      .item
        .col1
        .col2: input(type="checkbox" :checked="isAllChecked" @change="checkAll")
        .col3 原文件名
        .col4 新文件名
    .body
      .emptyList(v-if="!fileList.length") 没有文件
      draggable(
        v-else
        v-model="fileList"
        :options="sortOptions"
        @end="renameAll()"
        )
        .item(v-for="(vv1, index1) in fileList")
          .col1.move
          .col2: input(type="checkbox" :checked="vv1.checked" @click="clickOne(vv1, index1, $event)")
          .col3
            .aLink(v-if="vv1.url" @click="changePath(vv1)") {{vv1.name}}
            span.justFile(v-else) {{vv1.name}}
          .col4(v-if="vv1.checked")
            span(v-if="vv1.name === vv1.newName") {{vv1.newName}}
            span.nameChanged(v-else) {{vv1.newName}}
